[build]
target = "xtensa-esp8266-none-elf"

[target.xtensa-esp8266-none-elf]
rustflags = [
  "-C", "target-cpu=esp8266",
  "-C", "save-temps",
  "-C", "link-arg=-nostdlib",

  "-C", "link-arg=-ucall_user_start_cpu0",

  "-C", "link-arg=-Wl,--gc-sections",
  "-C", "link-arg=-Wl,-static",
  "-C", "link-arg=-Wl,--start-group",

  "-C", "link-arg=-Lbuild/app_update", "-C", "link-arg=-lapp_update",
  "-C", "link-arg=-Lbuild/bootloader_support", "-C", "link-arg=-lbootloader_support",
  "-C", "link-arg=-Lbuild/coap", "-C", "link-arg=-lcoap",
  "-C", "link-arg=-Lbuild/console", "-C", "link-arg=-lconsole",
  "-C", "link-arg=-Lbuild/esp-tls",  "-C", "link-arg=-lesp-tls",
  "-C", "link-arg=-Lbuild/esp-wolfssl", "-C", "link-arg=-lesp-wolfssl",
  "-C", "link-arg=-Lbuild/esp8266",  "-C", "link-arg=-lesp8266",
  "-C", "link-arg=-Lesp-idf/components/esp8266/lib",
  "-C", "link-arg=-lgcc",
  "-C", "link-arg=-lhal",
  "-C", "link-arg=-lcore",
  "-C", "link-arg=-lnet80211",
  "-C", "link-arg=-lphy",
  "-C", "link-arg=-lrtc",
  "-C", "link-arg=-lclk",
  "-C", "link-arg=-lpp",
  "-C", "link-arg=-lsmartconfig",
  "-C", "link-arg=-lssc",
  "-C", "link-arg=-lwpa",
  "-C", "link-arg=-lwpa2",

  "-C", "link-arg=-Lesp-idf/components/esp8266/ld",
  "-C", "link-arg=-Tesp8266_out.ld",
  "-C", "link-arg=-Tbuild/esp8266/esp8266.project.ld",

  "-C", "link-arg=-Wl,--no-check-sections",
  "-C", "link-arg=-ucall_user_start",
  "-C", "link-arg=-ug_esp_sys_info",
  "-C", "link-arg=-Tesp8266.rom.ld",
  "-C", "link-arg=-Tesp8266.peripherals.ld",
  "-C", "link-arg=-Lbuild/esp_common", "-C", "link-arg=-lesp_common",
  "-C", "link-arg=-Lbuild/esp_gdbstub", "-C", "link-arg=-lesp_gdbstub",
  "-C", "link-arg=-Lbuild/esp_http_client", "-C", "link-arg=-lesp_http_client",
  "-C", "link-arg=-Lbuild/esp_http_server", "-C", "link-arg=-lesp_http_server",
  "-C", "link-arg=-Lbuild/esp_https_ota", "-C", "link-arg=-lesp_https_ota",
  "-C", "link-arg=-Lbuild/esp_ringbuf", "-C", "link-arg=-lesp_ringbuf",
  "-C", "link-arg=-Lbuild/freertos", "-C", "link-arg=-lfreertos",
  "-C", "link-arg=-Lbuild/heap", "-C", "link-arg=-lheap",
  "-C", "link-arg=-Lbuild/http_parser", "-C", "link-arg=-lhttp_parser",
  "-C", "link-arg=-Lbuild/jsmn", "-C", "link-arg=-ljsmn",
  "-C", "link-arg=-Lbuild/json", "-C", "link-arg=-ljson",
  "-C", "link-arg=-Lbuild/libsodium", "-C", "link-arg=-llibsodium",
  "-C", "link-arg=-Lbuild/log", "-C", "link-arg=-llog",
  "-C", "link-arg=-Lbuild/lwip", "-C", "link-arg=-llwip",

  "-C", "link-arg=-Lbuild/mbedtls", "-C", "link-arg=-lmbedtls",
  "-C", "link-arg=-Lbuild/mdns", "-C", "link-arg=-lmdns",
  "-C", "link-arg=-Lbuild/mqtt", "-C", "link-arg=-lmqtt",
  "-C", "link-arg=-Lbuild/newlib",
  "-C", "link-arg=/home/esp32-toolchain/esp/esp-idf/components/newlib/newlib/lib/libc_fnano.a",
  "-C", "link-arg=/home/esp32-toolchain/esp/esp-idf/components/newlib/newlib/lib/libm.a",
  "-C", "link-arg=-lnewlib",

  "-C", "link-arg=-u_printf_float",
  "-C", "link-arg=-u_scanf_float",
  "-C", "link-arg=-Lbuild/nvs_flash", "-C", "link-arg=-lnvs_flash",
  "-C", "link-arg=-Lbuild/openssl", "-C", "link-arg=-lopenssl",
  "-C", "link-arg=-Lbuild/protobuf-c", "-C", "link-arg=-lprotobuf-c",
  "-C", "link-arg=-Lbuild/protocomm", "-C", "link-arg=-lprotocomm",
  "-C", "link-arg=-Lbuild/pthread", "-C", "link-arg=-lpthread",
  "-C", "link-arg=-Lbuild/smartconfig_ack", "-C", "link-arg=-lsmartconfig_ack",
  "-C", "link-arg=-Lbuild/spi_flash", "-C", "link-arg=-lspi_flash",
  "-C", "link-arg=-Lbuild/spi_ram", "-C", "link-arg=-lspi_ram",
  "-C", "link-arg=-Lbuild/spiffs", "-C", "link-arg=-lspiffs",
  "-C", "link-arg=-Lbuild/tcp_transport", "-C", "link-arg=-ltcp_transport",
  "-C", "link-arg=-Lbuild/tcpip_adapter", "-C", "link-arg=-ltcpip_adapter",
  "-C", "link-arg=-Lbuild/util", "-C", "link-arg=-lutil",
  "-C", "link-arg=-Lbuild/vfs", "-C", "link-arg=-lvfs",
  "-C", "link-arg=-Lbuild/wifi_provisioning", "-C", "link-arg=-lwifi_provisioning",
  "-C", "link-arg=-Lbuild/wpa_supplicant", "-C", "link-arg=-lwpa_supplicant",
  "-C", "link-arg=-lgcc",
  "-C", "link-arg=-lstdc++",
  "-C", "link-arg=-lgcov",
  "-C", "link-arg=-Wl,--end-group",
  "-C", "link-arg=-Wl,-EL",
]
